name: test

on: [pull_request]

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    name: Foundry
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run Forge fmt
        run: |
          forge --version
          forge fmt --check
        id: fmt

      - name: Run Forge build
        run: |
          forge build --sizes --deny-warnings
        id: build

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test
